node_modules

# env files
.env
.env.local
.env*.local
.env.production

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next-dev-logs/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# drizzle
drizzle/meta

# IDE
.idea/
.vscode/
.claude/
*.swp
*.swo

# superpowers brainstorm mockups
.superpowers/

# local git worktrees
.worktrees

